In [1]:
import pandas as pd
import numpy as np

In [2]:
3+4

7

In [8]:
liste_1=[1,8,9,5,5]

In [4]:
a=liste_1*2

In [5]:
a

[1, 8, 9, 5, 5, 1, 8, 9, 5, 5]

In [2]:
tuple_1=(1,8,9,5,5)

In [5]:
b=tuple_1*2

In [11]:
b

(1, 8, 9, 5, 5, 1, 8, 9, 5, 5)

In [9]:
liste_2=3*liste_1

In [30]:
def df(a,b):
    return a**2+b**2;

In [31]:
df(2,3)

13